<h1>User <%= @user.name %> with id <%= @user.id %></h1>

<br>

<h2> Events created by this user: </h2>
<% if @user.created_events.any? %>
	<h3> Events (<%= @user.created_events.count %>)</h3>

	<ul>
		<%= render @created_events %>
	</ul>
<% end %>


<hr>

<h2> Events to be attended by this user: </h2>
<% if @upcoming_events.any? %>
	<h3> Events (<%= @upcoming_events.count %>)</h3>

	<ul>
		<%= render @upcoming_events %>
	</ul>
<% end %>

<h2> Events which were attended by this user: </h2>
<% if @previous_events.any? %>
	<h3> Events (<%= @previous_events.count %>)</h3>

	<ul>
		<%= render @previous_events %>
	</ul>
<% end %>