<!DOCTYPE html>
<html>
  <head>
    <title>Event App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

  	<% if session[:user_id] %>
  		<h2> Currently signed in user: <%= current_user.name %></h2>
	<% end %> 
	<% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
